@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ProseMirror {
  outline: none;
  min-height: 100%;  
  font-size: 14px;
  line-height: 1.6;
}

.ProseMirror,
.ProseMirror *,
.ProseMirror p {
  color: #000000 !important;
}

.ProseMirror p {
  margin-bottom: 0.75rem;
}

.shadow-md.bg-white {
  background-image: repeating-linear-gradient(
    to bottom,
    white 0px,
    white 1122px,
    #f3f4f6 1122px,
    #f3f4f6 1170px
  ) !important;
  background-size: 100% auto;
  background-repeat: repeat-y;
}

